---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BePart from '~/components/widgets/BePart.astro';
import { Icon } from 'astro-icon/components';

const metadata = {
  title: 'Mision urbana - La Favelita',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id='que-es '
    actions={[
      {
        variant: 'primary',
        text: 'Contactanos',
        href: 'https://wa.me/5493512291058',
        target: '_blank',
      },
      { text: 'Saber más', href: '#donde-estamos' },
    ]}
    image={{ src: '~/assets/images/logo.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      ¿Qué es la
      <span class="text-accent highlight"> Misión Urbana</span> ?
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block sm:block">
        <span class="font-bold">Misión Urbana</span> Es el lugar donde compartimos el amor de Jesús con otros.
      </span>
      <br />
      Lo hacemos porque tenemos la convicción que a su tiempo lo que estamos sembrando en cada niño va a dar sus frutos.
      Nuestro mayor anhelo es que puedan aprender a vivir con Jesús y tener esperanza a pesar de lo que les toque vivir.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features id="donde-estamos" tagline="¿Donde estamos?" title='Estamos ubicados en "Duarte de Meneses" al 5023' />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="con-cuantos-trabajamos"
    tagline="¿Con cuántos niños Trabajamos?"
    subtitle=""
    image={{
      src: '~/assets/images/grupal.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Trabajamos aproximadamente con 40 niños todos los sábados,
      </h3>
      y en las celebraciones espaciales aumenta el número de niños Les damos un rico desayuno, compartimos una reflexión
      bíblica, actividades relacionadas a la reflexión y después les damos el almuerzo.
    </Fragment>
    <Fragment slot="content"> <div class="font-bold mt-2">También tenemos un grupo de Alfabetización!!</div></Fragment>
    <Fragment slot="content"
      >Desde el año pasado empezamos a trabajar con personas adultas en el área de alfabetización, enseñándoles a leer y
      escribir.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="dificultades-y-fortalezas"
    isAfterContent
    tagline="Dificultades y fortalezas con las que nos encontramos"
    image={{
      src: '~/assets/images/grupal2.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content"
      >Dentro de las dificultades encontramos el estado en el que se encuentra el barrio, las condiciones en las que
      viven los niños, la falta de recursos que tienen, falta de agua potable, de higiene, la violencia del entorno en
      el que viven. Pero dentro de las dificultades más grande podemos mencionar qué una gran parte de ellos no asisten
      al colegio. Como encontramos dificultades también encontramos FORTALEZAS Son niños abiertos no solo a recibir
      comida o recursos materiales, sino que también están predispuestos a recibir amor, escuchar la palabra de Dios ,
      jugar y cantar con nosotros. Ellos nos cuidan y nos respetan ❤
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="por-que-oramos"
    isReversed
    isAfterContent
    tagline="¿Por qué oramos?"
    image={{
      src: '~/assets/images/ornado.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      Oramos por cada familia, por el barrio, por los dirigentes del barrio, por sus mejoras, por los niños, por la
      educación de cada uno de los niños, para que Jesús siempre reine en sus corazones, para que lo único que ellos
      reciban sea amor y no violencia, para que cada palabra que damos cada sábado quede atesorada en sus corazones Por
      los profes que van cada sábado, que puedan transmitir el amor de Jesús en cada niño. Por la alfabetización, que
      sea un puente, que a través de cada clase podamos llegar a las personas adultas con el mensaje de salvación.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <BePart
  id='sumate'
  tagline="Sumate a la Misión Urbana" title="¿Como podes ser parte de la Misión Urbana?">
    <Fragment slot="subtitle">
      <ul class="list-inside text-start list-none">
        <li class="flex justify-start">
          <Icon name="tabler:chevron-right" class={'flex-shrink-0 mt-1 w-6 h-6 text-primary'} />Formando parte de el
          equipo que trabaja todos los Sábados en La Favela (Villa Urquiza)
        </li>
        <li class="flex justify-start">
          <Icon name="tabler:chevron-right" class={'flex-shrink-0 mt-1 w-6 h-6 text-primary'} />Colaborando con recursos
          formando parte de Los Amigos de la Misión Urbana
        </li>
        <li class="flex justify-start">
          <Icon name="tabler:chevron-right" class={'flex-shrink-0 mt-1 w-6 h-6 text-primary'} />Orando por La Misión
          Urbana
        </li>
        <li class="flex justify-start">
          <Icon name="tabler:chevron-right" class={'flex-shrink-0 mt-1 w-6 h-6 text-primary'} /> <p>Contáctanos a través de
          WhatsApp
          <a href="https://wa.me/5493512291058" target="_blank" class="ml-2 text-primary text-nowrap">+549351229-1058 </a></p>
        </li>
      </ul>
    </Fragment>
  </BePart>
</Layout>
